@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    padding: 0px;
    margin: 0px;
    background-image: url("../pics/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

.nav-btn{
    padding: 0.6rem 1rem;
    border-radius: 50px;
    border-color: #f89e1b;
    color: white;
    font-weight: bold;
    margin-left: 1rem;
    background-color: #f89e1b;
    outline: none;
}

.main-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    border: 0.1rem solid #515058;
    border-radius: 10px;
    color: white;
    backdrop-filter: blur(3px);
    cursor: pointer;
    /* max-width: 25rem; */
}

.main-card p{
    font-size: 1.3rem;
}

.main-card p:last-child {
    font-size: 2rem;
}

.main-heading {
    display: flex;
    justify-content: center;
    color:  #f89e1b;
    margin: 1rem;
}

.main-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 15px;
    background-color: #0e0d17;
    width: 15rem;
    z-index: 1;
    overflow: scroll;
}

.toggle-btn span{
    background-color: #f2f3f5;
    color: black;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
}

.nav-link {
    margin-bottom: 1rem;
}

@media (min-width: 992px) {

    .nav-menu a {
        /* width: 56px; */
    }

    .nav-menu a span {
        /* display: none; */
    }

    .main-body {
        margin-left: 17rem;
        margin-right: 2rem;
    }
}

/*
.nav-menu a {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 18px;
    margin-bottom: 8px;
    font-size: 15px;
    border-radius: 50px;
    background-color: #f2f3f5;
    height: 55px;
    overflow: hidden;
    transition: 0.3s;
}

.nav-menu a i {
    font-size: 20px;
}

.nav-menu a span {
    padding: 0 3px 0 8px;
}

@media (min-width: 992px) {

    .nav-menu a {
        width: 56px;
    }

    .nav-menu a span {
        display: none;
    }

    .main-body {
        margin-left: 10rem;
        margin-right: 2rem;
    }
}

.nav-menu a:hover {
    width: 100%;
    color: white;
    background-color: #0563bb;
}

.nav-menu a:hover span {
    display: block;
}

.logo img {
    width: 80px;
}
*/